.account_settings_form{
    width: 300;
}
.webix_view {
    width: 500px;
}
.fas:before{
    color: #1CA1C1;
}
.section-header {
  /* font-size: 40px; */
  font-weight: bold;
  padding: 10px 0;
}

.webix_section > .webix_template {
    font-size: 20px;
}
.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5px;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%; /* makes it a circle */
  object-fit: cover;
  border: 2px solid #ccc;
}

.save-button{
  margin-top: 20px;
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}